<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header') %>

<body>
    <%- include('../partials/navbar') %>
    <div class="container" style="width: 600px;">

        <h5 style="font-weight: bold;"> Add Your Educational details</h5>
        <hr style="opacity: 40%;">

        <form class="form" action="/profile/education/<%=profile._id%>" method="POST">


            <div class="form-group">

                <input type="text" placeholder=" *School" name="School" />

            </div>
            <div class="form-group">
                <input type="text" placeholder=" *Program" name="Program" />
                <small class="form-text">(ex: Computer Science and Engineering)</small>
            </div>

            <div class="form-group">
                <input type="text" placeholder=" *Degree" name="Degree" />
                <small class="form-text">(ex: B.E)</small>
            </div>
            <div class="form-group">
                <label>

                    <input type="checkbox" class="filled-in" name="Current" id="box" />

                    <span style="font-weight: 500;"> Currently studying here</span>

                </label>
            </div>

            <div class="form-group">

                <input type="date" placeholder=" *Start Date" name="Start Date" />
                <small class="form-text">(*Starting From)</small>




            </div>

            <div class="form-group">

                <input type="date" placeholder=" *End Date" name="End Date" id="text" />
                <small class="form-text">(*Ending in)</small>

            </div>

            <div class="form-group">
                <small class="form-text">Description</small>
                <textarea type="text" placeholder="Description" name="Description" style="height: 70px;">

           </textarea>
            </div>


            <div class="form-group">
                <button class="btn waves-effect waves-light " style="background-color: #43a047; width:20% ;height:40%;"
                    type="submit">
                    Save</button>
            </div>








        </form>
    </div>
    <script>
        document.getElementById('box').onchange = function () {
            document.getElementById('text').disabled = this.checked
        }
    </script>

</body>

</html>